@media print {
    main img, aside img, hr {
        display:none;
    }

    #bottone {
        border: 1px solid grey;
        background-color: grey;
    }

    #andiamo {
        display: none;
    }

    address {
        display:inline-block;
    }

    .copyright {
        display:none;
    }

    span {
        display: none;
    }

    
}